@charset "UTF-8";
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXTART-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #FFFFFF;
  --color-light-gray: #D9D9D9;
  --color-dark: #18121E;
  --color-dark-alternate: #000000;
  --color-green: #45766A;
  --color-light-green: #F3F5F4;
  --color-dark-green: #1A3E3E;
  --color-yellow: #F2BE22;
  --color-menu: #FDFDFD;
  --color-menu-keyframes: rgba(129, 129, 129, 0.9);
  --color-form-field: #E1E3E4;
  --border-button: 0.0625rem solid var(--color-dark-green);
  --border-radius: 0.25rem;
  --shadow: 0 0 0.9375rem 0 rgba(24, 18, 30, 0.12);
  --font-family-base: "Nunito Sans", sans-serif;
  --font-family-accent: "NEXT ART", sans-serif;
  --container-width: 73.75rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.container--alternate {
  padding-inline: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 0.875rem;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}
body.is-open {
  overflow: hidden;
}

h1, .h1 {
  font-size: clamp(1.625rem, 1.1415289256rem + 1.9834710744vw, 3.125rem);
  font-weight: 700;
  font-family: var(--font-family-accent);
  letter-spacing: 0.02em;
  color: var(--color-light);
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.3388429752rem + 0.6611570248vw, 2rem);
  font-weight: 800;
  line-height: 1.2;
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1694214876rem + 0.3305785124vw, 1.5rem);
  font-weight: 700;
  line-height: 1.33;
}

h4, .h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.11;
  letter-spacing: 0.01em;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}
@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
@media (any-hover: none) {
  a:active {
    text-decoration: underline;
  }
}

section:not(:first-child):not(:last-child) {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}
@media (width <= 47.99875rem) {
  section:not(:first-child):not(:last-child) {
    padding-block: 3.125rem;
  }
}

.hero {
  position: relative;
  z-index: 10;
  background: url("../img/hero/hero-bg.jpg") center/cover no-repeat;
}
.hero__body {
  display: grid;
  row-gap: 2.5625rem;
  padding-top: 34.4375rem;
  padding-bottom: 5.125rem;
  opacity: 0;
  visibility: hidden;
  animation-name: hero-body;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes hero-body {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
@media (width <= 47.99875rem) {
  .hero__body {
    padding-top: 18.625rem;
    padding-bottom: 3.125rem;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
  padding: 1rem 0.625rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark);
    background-color: var(--color-menu-keyframes);
  }
}
@media (width <= 47.99875rem) {
  .header {
    padding-block: 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .header__logo svg {
    width: 5.3125rem;
  }
}
.header__logo svg path {
  transition-duration: var(--transition-duration);
}
.header__logo svg path:nth-child(1) {
  fill: var(--color-light);
}
.header__logo svg path:nth-child(2) {
  fill: var(--color-menu);
}
@media (any-hover: hover) {
  .header__logo svg:hover path {
    fill: var(--color-dark-green);
  }
}
@media (any-hover: none) {
  .header__logo svg:active path {
    fill: var(--color-dark-green);
  }
}
.header__overlay {
  display: flex;
  align-items: center;
  column-gap: 3.0625rem;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3rem;
    padding: 3.4375rem 1rem;
    background-color: var(--color-dark-green);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem 1.5rem;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-item {
    display: flex;
    column-gap: 0.5rem;
  }
  .header__menu-item:nth-child(1) {
    display: none;
  }
}
@media (width <= 47.99875rem) and (any-hover: hover) {
  .header__menu-item:hover .header__menu-icon svg path {
    fill: var(--color-yellow);
  }
  .header__menu-item:hover .header__menu-link {
    color: var(--color-yellow);
  }
}
@media (width <= 47.99875rem) and (any-hover: none) {
  .header__menu-item:active .header__menu-icon svg path {
    fill: var(--color-yellow);
  }
  .header__menu-item:active .header__menu-link {
    color: var(--color-yellow);
  }
}
.header__menu-icon {
  display: none;
}
@media (width <= 47.99875rem) {
  .header__menu-icon {
    display: block;
  }
}
.header__menu-link {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  font-weight: 600;
  color: var(--color-menu);
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-weight: 400;
  }
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    color: var(--color-yellow);
  }
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--color-light);
  background-color: var(--color-dark-green);
  border-radius: var(--border-radius);
  border: 0.0625rem solid transparent;
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-dark-green);
    background-color: var(--color-light);
    border: var(--border-button);
    text-decoration: none;
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-dark-green);
    background-color: var(--color-light);
    border: var(--border-button);
    text-decoration: none;
  }
}
.button--header {
  padding: 0.75rem 1.5rem;
}
@media (width <= 47.99875rem) {
  .button--header {
    display: none;
  }
}
.button--hero-form {
  background-color: var(--color-menu);
  color: var(--color-dark-green);
  align-self: start;
  padding: 1rem 2.25rem;
}
@media (width <= 63.99875rem) {
  .button--hero-form {
    justify-self: start;
  }
}
@media (any-hover: hover) {
  .button--hero-form:hover {
    background-color: var(--color-dark-green);
    color: var(--color-menu);
    border: 0.0625rem solid var(--color-light);
  }
}
@media (any-hover: none) {
  .button--hero-form:active {
    background-color: var(--color-dark-green);
    color: var(--color-menu);
    border: 0.0625rem solid var(--color-light);
  }
}
.button--tour {
  padding: 1rem 2.25rem;
  justify-self: start;
}
@media (width <= 47.99875rem) {
  .button--tour {
    justify-self: center;
  }
}
.button--offer {
  padding: 1rem 2.25rem;
  justify-self: start;
}
@media (width <= 47.99875rem) {
  .button--offer {
    justify-self: center;
  }
}
.button--base {
  padding: 1rem 2.25rem;
}
@media (width <= 47.99875rem) {
  .button--base {
    padding: 0.75rem 1.5rem;
  }
}
.button--show {
  padding: 0.75rem 1.5rem;
  justify-self: start;
}
.button--mailings-form {
  padding: 0.75rem 1.5rem;
  text-wrap: nowrap;
}

.burger-button {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    background-color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    background-color: var(--color-yellow);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.1875rem 0.0625rem;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  opacity: 0;
}
.burger-button__line {
  display: block;
  width: 1.25rem;
  height: 0.1875rem;
  background-color: var(--color-light);
  border-radius: 0.125rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:nth-child(3) {
  width: 0.75rem;
  margin-left: 0.5rem;
}

.hero-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2.5rem 2.625rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.625rem;
  backdrop-filter: blur(0.125rem);
}
@media (width <= 63.99875rem) {
  .hero-form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 47.99875rem) {
  .hero-form {
    grid-template-columns: 1fr;
  }
}
@media (width <= 30.06125rem) {
  .hero-form {
    padding: 0.625rem;
  }
}

.field-hero {
  display: grid;
  row-gap: 0.5rem;
}
.field-hero__custom-select {
  position: relative;
  border: 0.0625rem solid var(--color-form-field);
  border-radius: 0.5rem;
}
.field-hero__custom-select::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.9375rem;
  height: 0.9375rem;
  content: "";
  right: 1rem;
  pointer-events: none;
}
.field-hero__custom-select--arrow::after {
  background: url("../icon/arrow-form.svg") center/contain no-repeat;
}
.field-hero__select {
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-menu);
  padding: 0.875rem 1rem;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.field-hero__select option {
  color: var(--color-dark);
}
.field-hero__select:focus-visible {
  outline: 0.0625rem dashed var(--color-light);
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}
.field-hero__select::-ms-expand {
  display: none;
}
.field-hero__calendar {
  display: flex;
  border: 0.0625rem solid var(--color-form-field);
  border-radius: 0.5rem;
}
@media (width <= 63.99875rem) {
  .field-hero__calendar {
    justify-content: space-between;
  }
}
.field-hero__input {
  flex-grow: 1;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-menu);
  border: none;
  background: transparent;
  padding: 0.9375rem 1rem;
}
.field-hero__input::placeholder {
  color: var(--color-menu);
  opacity: 1;
}
.field-hero__input:focus-visible {
  outline: 0.0625rem dashed var(--color-light);
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}
.field-hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: transparent;
  border: none;
  padding: 0;
  padding-inline: 1rem;
  cursor: pointer;
}
.field-hero__button:focus-visible {
  outline: none;
}
.field-hero__icon {
  width: 0.9375rem;
  height: 0.9375rem;
  background: url("../icon/calendar-form.svg") center/contain no-repeat;
}
.field-hero__help {
  color: var(--color-menu);
}

.tour__inner {
  display: grid;
  grid-template-columns: 40.6779661017% 49.1525423729%;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
@media (width <= 63.99875rem) {
  .tour__inner {
    display: flex;
    flex-direction: column-reverse;
  }
}
.tour__media {
  position: relative;
  padding-top: 7.875rem;
  padding-left: 8.125rem;
  opacity: 0;
  visibility: hidden;
  animation-name: tour-active;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
@keyframes tour-active {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
@media (width <= 30.06125rem) {
  .tour__media {
    padding: 0;
  }
}
.tour__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 72.9166666667%;
  height: 25rem;
  background: url("../img/tour/tour-bg-2.png") center/contain no-repeat;
  border-radius: 1.5rem;
}
@media (width <= 30.06125rem) {
  .tour__media::before {
    display: none;
  }
}
.tour__active {
  position: relative;
}
.tour__image {
  border-radius: 1.5rem;
}
.tour__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tour__button svg {
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .tour__button:hover svg {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (any-hover: none) {
  .tour__button:active svg {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.tour__content {
  position: relative;
  z-index: 9;
  display: grid;
  row-gap: 2.5rem;
  opacity: 0;
  visibility: hidden;
  animation-name: tour-content;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
@keyframes tour-content {
  0% {
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
.tour__description {
  font-size: 1.125rem;
}

.heading {
  display: grid;
  row-gap: 0.5rem;
}
.heading--center {
  text-align: center;
}
.heading--center:not(:last-child) {
  margin-bottom: 2.5rem;
}
.heading__subtitle {
  font-size: 1.5rem;
  line-height: 0.83;
  color: var(--color-yellow);
}
@media (width <= 47.99875rem) {
  .heading__subtitle {
    font-size: 1.25rem;
  }
}
.heading__title {
  color: var(--color-dark);
}

.modal__overlay {
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 62, 62, 0);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__overlay.is-active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(26, 62, 62, 0.9);
}
.modal__body {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 110;
  display: flex;
  align-items: flex-end;
  width: min(50rem, 90vw);
  height: 21.875rem;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding-inline: 1rem;
}
@media (width <= 47.99875rem) {
  .modal__body {
    width: 95vw;
    max-height: 90vh;
  }
}
.modal__body.is-active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.modal__video {
  width: 100%;
  max-height: 100%;
  border-radius: 1.25rem;
}
.modal__button-close {
  position: absolute;
  top: 0;
  right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__button-close svg path {
  fill: var(--color-light);
}
@media (any-hover: hover) {
  .modal__button-close svg path:hover {
    fill: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .modal__button-close svg path:active {
    fill: var(--color-yellow);
  }
}

.offer {
  background-color: var(--color-light-green);
}
.offer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
@media (width <= 30.06125rem) {
  .offer__inner {
    gap: 2rem;
  }
}
.offer__content {
  display: grid;
  row-gap: 2.5rem;
  max-width: 36.25rem;
  opacity: 0;
  visibility: hidden;
  animation-name: offer-content;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
@media (width <= 63.99875rem) {
  .offer__content {
    animation-range: entry 40% cover 50%;
  }
}
@media (width <= 30.06125rem) {
  .offer__content {
    animation-range: entry 10% cover 40%;
  }
}
@keyframes offer-content {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}
@media (width <= 63.99875rem) {
  .offer__content {
    max-width: 100%;
  }
}
@media (width <= 30.06125rem) {
  .offer__content {
    row-gap: 2rem;
  }
}
.offer__description {
  font-size: 1.125rem;
}
@media (width <= 30.06125rem) {
  .offer__description {
    font-size: 1rem;
  }
}
.offer__list {
  display: grid;
  row-gap: 2.5rem;
}
@media (width <= 30.06125rem) {
  .offer__list {
    row-gap: 2rem;
  }
}
.offer__item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (width <= 30.06125rem) {
  .offer__item {
    align-items: stretch;
  }
}
.offer__info {
  display: grid;
  row-gap: 0.25rem;
}
.offer__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}
@media (width <= 63.99875rem) {
  .offer__photos {
    grid-template-columns: 1fr;
  }
}
@media (width <= 47.99875rem) {
  .offer__photos {
    display: none;
  }
}
.offer__photos-image {
  opacity: 0;
  visibility: hidden;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
@media (width <= 63.99875rem) {
  .offer__photos-image {
    animation-range: entry 40% cover 50%;
  }
}
@media (width <= 30.06125rem) {
  .offer__photos-image {
    animation-range: entry 10% cover 40%;
  }
}
.offer__photos-image:nth-child(1) {
  border-radius: 0 3.125rem;
  animation-name: child-1;
}
.offer__photos-image:nth-child(2) {
  border-radius: 3.125rem 0;
  animation-name: child-2;
}
.offer__photos-image:nth-child(3) {
  border-radius: 3.125rem 0;
  animation-name: child-3;
}
.offer__photos-image:nth-child(4) {
  border-radius: 0 3.125rem;
  animation-name: child-4;
}
@keyframes child-1 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}
@keyframes child-2 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(100%, -100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}
@keyframes child-3 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, 100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}
@keyframes child-4 {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(100%, 100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}
@media (width <= 63.99875rem) {
  .offer__photos-image:nth-child(1) {
    animation-duration: 0.3s;
  }
  .offer__photos-image:nth-child(2) {
    animation-duration: 0.6s;
  }
  .offer__photos-image:nth-child(3) {
    animation-duration: 0.9s;
  }
  .offer__photos-image:nth-child(4) {
    animation-duration: 1.2s;
  }
  @keyframes child-1 {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  @keyframes child-2 {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  @keyframes child-3 {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  @keyframes child-4 {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.directions__content {
  position: relative;
  overflow: hidden;
  height: 31.25rem;
  border-radius: 2rem;
}
@media (width <= 47.99875rem) {
  .directions__content {
    width: 17.8125rem;
    height: 25rem;
  }
}
.directions__rating {
  display: flex;
  justify-content: flex-end;
  padding-top: 3.125rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}
@media (width <= 47.99875rem) {
  .directions__rating {
    padding-top: 2.1875rem;
  }
}
.directions__star {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: rgba(253, 253, 253, 0.4);
  backdrop-filter: blur(0.25rem);
  border-radius: 0.25rem 0 0 0.25rem;
}
.directions__number {
  font-weight: 700;
  color: var(--color-dark-green);
}
.directions__icon {
  display: flex;
  cursor: pointer;
}
.directions__show {
  position: absolute;
  top: 25.625rem;
  left: 0;
  color: var(--color-menu);
  padding: 1.25rem 2rem 1.25rem;
  backdrop-filter: blur(0.25rem);
  border-radius: 0 0 2rem 2rem;
  height: 100%;
  transition: top 1s ease-in-out;
}
@media (width <= 47.99875rem) {
  .directions__show {
    top: 20.625rem;
    padding: 1.25rem 1.5rem;
  }
}
.directions__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.directions__heading:not(:last-child) {
  margin-bottom: 2.375rem;
}
.directions__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (width <= 47.99875rem) {
  .directions__title {
    font-size: 1.125rem;
  }
}
.directions__subtitle {
  line-height: 1.29;
}
@media (width <= 47.99875rem) {
  .directions__subtitle {
    display: none;
  }
}
.directions__price {
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
}
.directions__price span {
  display: inline-block;
  padding: 0.5rem 1rem;
}
@media (width <= 47.99875rem) {
  .directions__price span {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
}
.directions__description {
  font-size: 1rem;
}
.directions__description:not(:last-child) {
  margin-bottom: 6.5625rem;
}
@media (width <= 47.99875rem) {
  .directions__description:not(:last-child) {
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
  }
}
.directions__link-container {
  text-align: center;
}

.slider-directions:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (width <= 47.99875rem) {
  .slider-directions:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.slider-directions__container {
  overflow: hidden;
  width: 100%;
}
.slider-directions__wrapper {
  display: flex;
  padding-inline: 1rem;
  gap: 1.25rem;
  cursor: grab;
}
@media (width > 47.99875rem) {
  .slider-directions__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    cursor: default;
  }
}
.slider-directions__slide {
  width: 100%;
  max-width: 23.75rem;
  border-radius: 2rem;
}
@media (width <= 47.99875rem) {
  .slider-directions__slide {
    width: auto;
    max-width: none;
  }
}
@media (any-hover: hover) {
  .slider-directions__slide:hover .directions__rating {
    opacity: 0;
    visibility: hidden;
  }
  .slider-directions__slide:hover .directions__show {
    top: 0;
  }
}
@media (any-hover: none) {
  .slider-directions__slide:active .directions__rating {
    opacity: 0;
    visibility: hidden;
  }
  .slider-directions__slide:active .directions__show {
    top: 0;
  }
}
.slider-directions__slide:nth-child(1) {
  background: url("../img/directions/directions-image-1.jpg") center/cover no-repeat;
}
.slider-directions__slide:nth-child(2) {
  background: url("../img/directions/directions-image-2.jpg") center/cover no-repeat;
}
.slider-directions__slide:nth-child(3) {
  background: url("../img/directions/directions-image-3.jpg") center/cover no-repeat;
}

.blog {
  background-color: var(--color-light-green);
}
.blog__body {
  transition: box-shadow 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 42.4137931034% 53.4482758621%;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 0.625rem;
  cursor: pointer;
}
@media (any-hover: hover) {
  .blog__body:hover {
    box-shadow: var(--shadow);
  }
  .blog__body:hover .blog__link-content {
    color: var(--color-dark-green);
    text-decoration: underline;
  }
}
@media (any-hover: none) {
  .blog__body:active {
    box-shadow: var(--shadow);
  }
  .blog__body:active .blog__link-content {
    color: var(--color-dark-green);
    text-decoration: underline;
  }
}
@media (width <= 47.99875rem) {
  .blog__body {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    width: 17.8125rem;
    height: 100%;
  }
}
.blog__image {
  border-radius: 0.375rem;
}
@media (width <= 47.99875rem) {
  .blog__image {
    width: 100%;
    border-radius: 0.375rem 0.375rem 0 0;
  }
}
.blog__content {
  display: grid;
  row-gap: 1.5rem;
  padding-block: 1rem;
  max-width: 18.4375rem;
}
@media (width <= 47.99875rem) {
  .blog__content {
    padding-inline: 1rem;
  }
}
.blog__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.blog__description {
  line-height: 1.43;
}
.blog__date {
  font-weight: 700;
  line-height: 1.43;
  color: var(--color-yellow);
}
.blog__link-content {
  transition: color 0.2s ease-in-out;
}
.blog__link-info {
  font-weight: 700;
  line-height: 1.43;
  color: var(--color-dark-green);
}
.blog__link-container {
  text-align: center;
}

.slider-blog:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (width <= 47.99875rem) {
  .slider-blog:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.slider-blog__container {
  overflow: hidden;
  width: 100%;
}
.slider-blog__wrapper {
  display: flex;
  gap: 1.25rem;
  padding-inline: 1rem;
  cursor: grab;
}
@media (width > 47.99875rem) {
  .slider-blog__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: default;
  }
}
.slider-blog__slide {
  width: 100%;
  max-width: 36.25rem;
}
@media (width <= 47.99875rem) {
  .slider-blog__slide {
    width: auto;
    max-width: none;
  }
}

.photo__content {
  position: relative;
}
@media (width <= 47.99875rem) {
  .photo__content {
    width: 17.5rem;
  }
}
@media (any-hover: hover) {
  .photo__content:hover .photo__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 0.375rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media (any-hover: hover) and (width <= 47.99875rem) {
  .photo__content:hover .photo__overlay {
    display: none;
  }
}
@media (any-hover: hover) {
  .photo__content:hover .photo__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 20;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@media (any-hover: hover) and (width <= 47.99875rem) {
  .photo__content:hover .photo__button {
    display: none;
  }
}
@media (any-hover: hover) {
  .photo__content:hover .photo__button svg {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
}
@media (any-hover: hover) and (any-hover: hover) {
  .photo__content:hover .photo__button:hover svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .photo__content:hover .photo__button:hover svg path {
    stroke: var(--color-yellow);
  }
}
@media (any-hover: hover) and (any-hover: none) {
  .photo__content:hover .photo__button:active svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .photo__content:hover .photo__button:active svg path {
    stroke: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .photo__content:active .photo__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 0.375rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media (any-hover: none) and (width <= 47.99875rem) {
  .photo__content:active .photo__overlay {
    display: none;
  }
}
@media (any-hover: none) {
  .photo__content:active .photo__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 20;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@media (any-hover: none) and (width <= 47.99875rem) {
  .photo__content:active .photo__button {
    display: none;
  }
}
@media (any-hover: none) {
  .photo__content:active .photo__button svg {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
}
@media (any-hover: none) and (any-hover: hover) {
  .photo__content:active .photo__button:hover svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .photo__content:active .photo__button:hover svg path {
    stroke: var(--color-yellow);
  }
}
@media (any-hover: none) and (any-hover: none) {
  .photo__content:active .photo__button:active svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .photo__content:active .photo__button:active svg path {
    stroke: var(--color-yellow);
  }
}
.photo__overlay {
  transition: background-color 0.2s ease-in-out;
}
.photo__image {
  width: 100%;
  border-radius: 0.375rem;
}
.photo__button {
  display: none;
}
.photo__link-container {
  text-align: center;
}

.slider-photo:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (width <= 47.99875rem) {
  .slider-photo:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.slider-photo__container {
  overflow: hidden;
  width: 100%;
}
.slider-photo__wrapper {
  display: flex;
  padding-inline: 1rem;
  gap: 1.25rem;
  cursor: grab;
}
@media (width > 47.99875rem) {
  .slider-photo__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "image-1 image-1 image-2 image-3" "image-4 image-5 image-5 image-6";
    cursor: default;
  }
}
.slider-photo__slide {
  width: auto;
}
@media (width > 47.99875rem) {
  .slider-photo__slide:nth-child(1) {
    grid-area: image-1;
  }
  .slider-photo__slide:nth-child(2) {
    grid-area: image-2;
  }
  .slider-photo__slide:nth-child(3) {
    grid-area: image-3;
  }
  .slider-photo__slide:nth-child(4) {
    grid-area: image-4;
  }
  .slider-photo__slide:nth-child(5) {
    grid-area: image-5;
  }
  .slider-photo__slide:nth-child(6) {
    grid-area: image-6;
  }
}

.mailings {
  position: relative;
  z-index: 20;
}
@media (width <= 47.99875rem) {
  .mailings {
    z-index: 0;
  }
}
.mailings__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.875rem;
  background-color: var(--color-menu);
  border-radius: 0.375rem;
  box-shadow: var(--shadow);
  padding: 2.5rem 6.25rem;
}
@media (width <= 63.99875rem) {
  .mailings__inner {
    padding: 1.5rem;
    margin-inline: 1rem;
    margin-bottom: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .mailings__inner {
    flex-direction: column;
    row-gap: 1.125rem;
  }
}
.mailings__body {
  display: grid;
  row-gap: 0.5rem;
}
@media (width <= 47.99875rem) {
  .mailings__body {
    row-gap: 1.5rem;
  }
}
.mailings__text {
  font-weight: 600;
  line-height: 1.29;
}
.mailings__text a {
  text-decoration: underline;
}

.mailings-form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
@media (width <= 47.99875rem) {
  .mailings-form {
    flex-direction: column;
    align-items: flex-start;
  }
}

.field-mailings {
  display: grid;
  row-gap: 0.5rem;
}
@media (width <= 30.06125rem) {
  .field-mailings {
    width: 100%;
  }
}
.field-mailings__label {
  font-weight: 600;
  font-size: 1rem;
}
.field-mailings__input {
  font-weight: 300;
  line-height: 1.43;
  width: max(9.375rem, 14.5833333333vw);
  background-color: var(--color-light-green);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
.field-mailings__input:focus-visible {
  outline: 0.0625rem dashed var(--color-light);
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}
@media (width <= 47.99875rem) {
  .field-mailings__input {
    width: 19.375rem;
  }
}
@media (width <= 30.06125rem) {
  .field-mailings__input {
    width: 100%;
  }
}
.field-mailings__input::placeholder {
  font-weight: 300;
  line-height: 1.43;
}

.footer {
  margin-top: -6.125rem;
}
@media (width <= 63.99875rem) {
  .footer {
    margin: 0;
  }
}
.footer__inner {
  background-color: var(--color-dark-green);
}
.footer__body {
  display: flex;
  column-gap: 1.25rem;
  padding-top: 11.125rem;
  padding-bottom: 5rem;
}
@media (width <= 63.99875rem) {
  .footer__body {
    flex-direction: column;
    row-gap: 3.125rem;
    padding-block: 3.125rem;
  }
}
.footer__content {
  max-width: 28.125rem;
}
.footer__title {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-light-green);
}
.footer__title:not(:last-child) {
  margin-bottom: 1.0625rem;
}
.footer__description {
  line-height: 1.43;
  color: var(--color-light);
}
.footer__description:not(:last-child) {
  margin-bottom: 5rem;
}
@media (width <= 63.99875rem) {
  .footer__description:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.footer__contacts {
  display: flex;
  column-gap: 1.5rem;
}
.footer__contacts:not(:last-child) {
  margin-bottom: 2rem;
}
@media (width <= 63.99875rem) {
  .footer__contacts:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.footer__contacts a {
  font-weight: 600;
  line-height: 1.29;
  text-decoration: underline;
  color: var(--color-light);
}
@media (any-hover: hover) {
  .footer__contacts a:hover {
    color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .footer__contacts a:active {
    color: var(--color-yellow);
  }
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
}
@media (width <= 63.99875rem) {
  .footer__menu {
    justify-content: stretch;
    gap: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__menu-column {
  display: grid;
  row-gap: 1.25rem;
  align-self: start;
}
.footer__menu-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-light-green);
}
.footer__menu-list {
  display: grid;
  row-gap: 1rem;
}
.footer__menu-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
@media (any-hover: hover) {
  .footer__menu-item:hover .footer__menu-icon svg path {
    fill: var(--color-yellow);
  }
  .footer__menu-item:hover .footer__menu-link {
    color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .footer__menu-item:active .footer__menu-icon svg path {
    fill: var(--color-yellow);
  }
  .footer__menu-item:active .footer__menu-link {
    color: var(--color-yellow);
  }
}
.footer__menu-link {
  line-height: 1.29;
  color: var(--color-menu);
}
.footer__extra {
  background-color: var(--color-dark);
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
  padding-block: 1.5rem;
  font-weight: 600;
  line-height: 1.29;
  color: var(--color-light);
}
.footer__copyright a {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .footer__copyright a:hover {
    color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .footer__copyright a:active {
    color: var(--color-yellow);
  }
}

.soc1als__list {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (any-hover: hover) {
  .soc1als__link:hover svg path {
    fill: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .soc1als__link:active svg path {
    fill: var(--color-yellow);
  }
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.33;
  text-transform: lowercase;
  color: var(--color-dark-green);
  background-color: var(--color-light);
  border-radius: 0.25rem;
  padding: 0.125rem 0.625rem;
}
@media (any-hover: hover) {
  .badge:hover {
    color: var(--color-light);
    background-color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .badge:active {
    color: var(--color-light);
    background-color: var(--color-yellow);
  }
}

.fancybox__container {
  --fancybox-backdrop-bg: rgba(26, 62, 62, 0.95) !important;
}

/*# sourceMappingURL=main.css.map */