@use 'helpers' as *;

.header {    
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: rem(100) rem(200);
    padding: rem(16) rem(10);

    @keyframes scrolling-header {
        to {
            box-shadow: 0 0 1rem 0 var(--color-dark);
            background-color: var(--color-menu-keyframes);
        }
    }

    @include mobile {
        padding-block: 0;
    }
    
    &__inner {
        @include flexbox(true, space-between, center);

        column-gap: rem(30);
    }

    &__logo {
        svg {

            @include mobile {
                width: rem(85);
            }

            path {
                transition-duration: var(--transition-duration);

                &:nth-child(1) {
                    fill: var(--color-light);
                }

                &:nth-child(2) {
                    fill: var(--color-menu);
                }
            }

            @include hover {
                path {
                    fill: var(--color-dark-green);
                }  
            } 
        }
    }

    &__overlay {
        display: flex;
        align-items: center;
        column-gap: rem(49);
        transition-duration: var(--transition-duration);

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 3rem;
            padding: rem(55) 1rem;
            background-color: var(--color-dark-green);

            &:not(.is-active) {
               @include hide;
               
               translate: 100%;
            }
        }
    }

    &__menu {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: rem(5) rem(24);

            @include mobile {
                flex-direction: column;
                row-gap: rem(16);
            }
        }

        &-item {
            @include mobile {
                display: flex;
                column-gap: rem(8);

                &:nth-child(1) {
                    display: none;
                }

                @include hover {
                    .header__menu-icon {
                        svg {
                            path {
                                fill: var(--color-yellow);
                            }
                        }
                    }

                    .header__menu-link {
                        color: var(--color-yellow);
                    }
                }
                
            }
        }

        &-icon {
            display: none;

            @include mobile {
                display: block;
            }
        }

        &-link {
            @include fluid-text(18, 14);

            font-weight: 600;
            color: var(--color-menu);

            @include mobile {
                font-weight: 400;
            }

            @include hover {
                color: var(--color-yellow);
            }
        }
    }
}