@use 'helpers' as *;

.photo {
    &__content {
        position: relative;

        @include mobile {
            width: rem(280);
        }
        
        @include hover {
            .photo__overlay {
                @include abs-position(both);
                @include square(100%);

                z-index: 10;
                border-radius: rem(6);
                background-color: rgba(0, 0, 0, 0.2);

                @include mobile {
                    display: none;
                }
            }

            .photo__button {
                @include abs-position(both);
                @include flexbox(true, center, center);
                @include transition(width, height);

                z-index: 20;
                border: none;
                background-color: transparent;
                cursor: pointer;
        
                @include mobile {
                    display: none;
                }

                svg {
                    @include transition(width, height);
                }

                @include hover {
                    svg {
                        width: rem(30);
                        height: rem(30);

                        path {
                            stroke: var(--color-yellow);
                        }
                    }
                }
            }
        }
    }

    &__overlay {
        @include transition(background-color);
    }

    &__image {
        width: 100%;
        border-radius: rem(6);
    }

    &__button {
        display: none;
    }

    &__link {
        &-container {
            text-align: center;
        }
    }
}