@use 'helpers' as *;

.swiper {
    padding-inline: rem(16) !important;

    &-directions,
    &-blog,
    &-photo {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }

        @include mobile {
            &:not(:last-child) {
                margin-bottom: rem(32);
            }
        }
    }

    &-directions {
        height: rem(500);

        @include mobile {
            height: rem(400) !important;
        }
    }

    &-wrapper {
        &-photo {
            @include mobile-above {
                display: grid !important;
                grid-template-columns: repeat(4, 1fr) !important;
                grid-template-areas: 
                'image-1 image-1 image-2 image-3'
                'image-4 image-5 image-5 image-6' !important
                ;
                gap: rem(20) !important;
                transform: none !important;
                height: 100% !important;
            }
        }
    }

    &-slide {
        &-directions {
            position: relative;
            border-radius: rem(32);
            overflow-y: hidden;

            @include mobile {
                width: rem(285) !important;
            }

            @include hover {
                .directions__rating {
                    opacity: 0;
                    visibility: hidden;
                }

                .directions__show {
                    top: 0;
                }
            }

            &:nth-child(1) {
                background: url('../img/directions/directions-image-1.jpg') center/cover no-repeat;
            }

            &:nth-child(2) {
                background: url('../img/directions/directions-image-2.jpg') center/cover no-repeat;
            }

            &:nth-child(3) {
                background: url('../img/directions/directions-image-3.jpg') center/cover no-repeat;
            }
        }

        &-blog {
            @include mobile {
                width: rem(285) !important;
            }
        }

        &-photo {
            width: rem(280) !important;

            @include mobile-above {
                width: auto !important;
                height: auto !important;
                display: block;
                margin: 0 !important;

                &:nth-child(1) {
                    grid-area: image-1;
                }
                &:nth-child(2) {
                    grid-area: image-2;
                }
                &:nth-child(3) {
                    grid-area: image-3;
                }
                &:nth-child(4) {
                    grid-area: image-4;
                }
                &:nth-child(5) {
                    grid-area: image-5;
                }
                &:nth-child(6) {
                    grid-area: image-6;
                }
            }
        }
    }
}